## Transforming Data for Mongo DB

This notebook loads csv files of data previously cleaned and loads them to Mongo DB and transforms them to JSON.

* cities - information on the income and poverty levels by city with associated lat and long
* guns - information on the gun violence
---

In [1]:
import pandas as pd 
import os
import numpy as np

import pymongo
import json

import requests


# function to save dataframe to collection_name in MongoDB 'wines'    
def saveMongo(df, collection_name, replace=False):
    mng_client = pymongo.MongoClient('localhost', 27017)
    mng_db = mng_client['guns'] 
    if replace:
        mng_db[collection_name].drop() 
    db_cm = mng_db[collection_name]
    data = df
    data_json = json.loads(data.to_json(orient='records', date_unit='ns'))
    #db_cm.delete_many()
    db_cm.insert_many(data_json)

## Load csv files into pandas dataframes, clean, save to mongo db

In [2]:
# read in main wine scrape csv, 2019 US wines from Wine Magazine web site, save to collection "winesall"
cities_path = os.path.join("..","Data","Cities.csv")

df_cities = pd.read_csv(cities_path, encoding="UTF-8")
df_cities.head()

# # save to/replace collection "cities" in "guns" mongo db
saveMongo(df_cities, "cities", replace=True)

,State,city_name,city_type,county,percent_completed_hs,poverty_rate,Median Income,Lat,Lng
0,AL,Abanda,CDP,NaN,21.2,78.8,11207,33.098839,-85.527824
1,AL,Abbeville,city,NaN,69.1,29.1,25615,31.571835,-85.250489
2,AL,Adamsville,city,NaN,78.9,25.5,42575,33.600939,-86.956106
3,AL,Addison,town,NaN,81.4,30.7,37083,34.202324,-87.181401
4,AL,Akron,town,NaN,68.6,42,21667,32.876517,-87.742510

In [3]:
# Loading gun violence
guns_path = os.path.join("..","Data","Shootings_2015.csv")

df_guns = pd.read_csv(guns_path, encoding="UTF-8")

df_guns.head()

# save to/replace collection "cities" in "guns" mongo db
saveMongo(df_guns, "guns", replace=True)

In [ ]:
# read in main wine scrape csv, 2019 US wines from Wine Magazine web site, save to collection "winesall"
states_path = os.path.join("..","Data","States.csv")

df_states = pd.read_csv(states_path, encoding="UTF-8")
df_states.head()

# # save to/replace collection "cities" in "guns" mongo db
saveMongo(df_states, "states", replace=True)