In [13]:

# Dependencies
import requests
import json
#from config import gkey
import os
import csv
import pandas as pd

In [18]:
# Load CSV file
csv_path = os.path.join("data", "demographics.csv")

# Read Purchasing File and store into Pandas data frame
cities_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
cities_df.head()

  State             City percent_completed_hs poverty_rate Median Income
0    AL       Abanda CDP                 21.2         78.8         11207
1    AL   Abbeville city                 69.1         29.1         25615
2    AL  Adamsville city                 78.9         25.5         42575
3    AL     Addison town                 81.4         30.7         37083
4    AL       Akron town                 68.6           42         21667

In [20]:
cities_df["Lat"] = ""
cities_df["Lng"] = ""
cities_df.head()

,State,City,percent_completed_hs,poverty_rate,Median Income,Lat,Lng
0,AL,Abanda CDP,21.2,78.8,11207,,
1,AL,Abbeville city,69.1,29.1,25615,,
2,AL,Adamsville city,78.9,25.5,42575,,
3,AL,Addison town,81.4,30.7,37083,,
4,AL,Akron town,68.6,42,21667,,

In [21]:
params = {"key": gkey}

# Loop through the cities_pd and run a lat/long search for each city
for index, row in cities_pd.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    city = row['City']
    state = row['State']

    # update address key value
    params['address'] = f"{city},{state}"

    # make request
    cities_lat_lng = requests.get(base_url, params=params)
    
    # print the cities_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    # print(cities_lat_lng.url)
    
    # convert to json
    cities_lat_lng = cities_lat_lng.json()

    cities_pd.loc[index, "Lat"] = cities_lat_lng["results"][0]["geometry"]["location"]["lat"]
    cities_pd.loc[index, "Lng"] = cities_lat_lng["results"][0]["geometry"]["location"]["lng"]

# Visualize to confirm lat lng appear
cities_pd.head()

NameError: name 'gkey' is not defined

In [ ]:
# Run a request to endpoint and convert result to json
geo_data = requests.get(target_url).json()

# Print the json
print(geo_data)